/* ---- Header ---- */
.header {
    background-image: url(../images/header__background.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 585px;
}
.wrapper {
    margin: 0 auto;

    width: 1170px;
}
.header__site-nav {
    box-shadow: 13px rgba(0, 0, 0, 0.004);

    padding-top: 23px;
    padding-bottom: 23px;

    display: flex;
    justify-content: space-between;

    font-family: 'Open Sans';
    font-weight: 400;

    color: #ffff;
    background-color: #105b9f;
}
.header__navigation > ul {
    margin-top: 7px;
    margin-left: 80px;
    display: flex;

    text-transform: uppercase;
    list-style-type: none;
    font-size: 14px;
}
.header__logo {
    margin-left: 131px;
    
    font-size: 24px;
}
.header__navigation {
    margin-right: 74px;
}
.header__nav-item {
    color: #ffff;

    padding: 5px;

    transition: 0.2s;

    text-decoration: none;
    margin-right: 25px;
}
.header__nav-item:hover {
    background-color: #2f77b7;
}
.header__title {
    width: 660px;
    color: #ffff;

    margin-top: 100px;
    margin-left: 10px;
    margin-bottom: 0;

    font-family: 'Poppins';
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
}
.header__market-links {
    display: flex;

    margin-left: 9px;
    margin-top: 70px;
}
.header__market-link-button {
    color: #ffff;

    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;

    position: relative;

    transition: 0.3s;

    width: 90px;

    margin-right: 25px;
    padding:  12px 14px 15px 80px ;

    border: 1px solid #ffff;
    border-radius: 10px;
}
.header__market-link-button > strong {
    font-weight: 500;
}
.header__market-link-button:hover {
    background-color: #4aa5e9;
}
.google-play-link::before {
    content: '';
    display: block;
    position: absolute;

    margin-left: -57px;
    margin-top: -4px;

    width: 33px;
    height: 36px;

    background-image: url(../images/google-play-icon.svg);
    background-repeat: no-repeat;
}
.app-store-link::before {
    content: '';
    display: block;
    position: absolute;

    width: 33px;
    height: 37px;

    margin-top: -5px;
    margin-left: -60px;

    background-image: url(../images/app-store-icon.svg);
    background-repeat: no-repeat;
}
.header__phone {
    position: absolute;
    transform: rotate(-8deg);

    margin-top: 115px;
    margin-right: 56px;

    right: 0;
    top: 0;
}
.block-title {
    color: #161e26;
    text-transform: uppercase;
    text-align: center;

    margin: 0;
    font-family: 'Oswald';
    font-weight: 700;
}

/* ---- Features ---- */
.features {
    margin-top: 55px;
}
.features__elements {
    display: flex;
    position: relative;    
    justify-content: center;

    margin-top: 60px;

    font-family: 'Roboto';
    font-weight: 400;
}
.features-element {
    width: 200px;
}
.features__item {
    position: relative;
}
.features__column-1, .features__column-2 {
    display: flex;
    flex-direction: column;
}
.features__item-title {
    font-size: 18px;
}
.responsive-layout-title::after, .powerful-settings-title::after {
    content: '';
    display: block;
    position: absolute;

    height: 1px;
    width: 70px;

    margin-top: 5px;

    background-color: #000;
}
.unlimited-color-title::after{
    content: '';
    display: block;
    position: absolute;

    height: 1px;
    width: 70px;
    
    margin-top: 5px;
    margin-left: 131px;

    background-color: #000;
}
.ready-made-modules-title::after {
    content: '';
    display: block;
    position: absolute;

    height: 1px;
    width: 70px;
    
    margin-top: 5px;
    margin-left: 130px;

    background-color: #000;
}
.features__item-description {
    color: #99aaa8;
    font-size: 14px;
}
.features__column-1 {
    margin-right: 80px;
}
.features__column-2 {
    margin-left: 75px;
    text-align: right;
}
.responsive-layout-item::before {
    content: '';
    display: block;
    position: absolute;

    width: 72px;
    height: 72px;

    margin-top: 18px;
    margin-left: -103px;

    border: 1px solid #e1e1e1;
    border-radius: 100%;

    background-image: url(../images/features__responsive-layout-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.powerful-settings-item::before {
    content: '';
    display: block;
    position: absolute;

    width: 72px;
    height: 72px;

    margin-top: 18px;
    margin-left: -103px;

    border: 1px solid #e1e1e1;
    border-radius: 100%;

    background-image: url(../images/features__powerful-settings-icon.svg );
    background-position: center;
    background-repeat: no-repeat;
}

.unlimited-color-item::before {
    content: '';
    display: block;
    position: absolute;

    width: 72px;
    height: 72px;

    margin-top: 18px;
    margin-left: 220px;

    border: 1px solid #e1e1e1;
    border-radius: 100%;

    background-image: url(../images/features__unlimited-color-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.ready-made-modules-item::before {
    content: '';
    display: block;
    position: absolute;

    width: 72px;
    height: 72px;

    margin-top: 18px;
    margin-left: 220px;

    border: 1px solid #e1e1e1;
    border-radius: 100%;

    background-image: url(../images/features__ready-made-modules-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}