/* ---- For all blocks ---- */
.description-element {
    font-size: 14px;
    font-weight: 400;
}

/* ---- Header ---- */
.header {
    background-image: url(../images/header__background.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 585px;
}
.wrapper {
    margin: 0 auto;

    width: 1170px;
}
.header__site-nav {
    box-shadow: 13px rgba(0, 0, 0, 0.004);

    padding-top: 23px;
    padding-bottom: 23px;

    display: flex;
    justify-content: space-between;

    font-family: 'Open Sans';
    font-weight: 400;

    color: #ffff;
    background-color: #105b9f;
}
.header__navigation > ul {
    margin-top: 7px;
    margin-left: 80px;
    display: flex;

    text-transform: uppercase;
    list-style-type: none;
    font-size: 14px;
}
.header__logo {
    margin-left: 131px;
    
    font-size: 24px;
}
.header__navigation {
    margin-right: 74px;
}
.header__nav-item {
    color: #ffff;

    padding: 5px;

    transition: 0.2s;

    text-decoration: none;
    margin-right: 25px;
}
.header__nav-item:hover {
    background-color: #2f77b7;
}
@keyframes headerFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.header__title {
    width: 660px;
    color: #ffff;

    margin-top: 100px;
    margin-left: 10px;
    margin-bottom: 0;

    font-family: 'Poppins';
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;

    animation: headerFadeIn 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.header__market-links {
    display: flex;

    margin-left: 9px;
    margin-top: 70px;
}
.header__market-link-button {
    color: #ffff;

    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;

    position: relative;

    transition: 0.3s;

    width: 90px;

    margin-right: 25px;
    padding:  12px 14px 15px 80px ;

    border: 1px solid #ffff;
    border-radius: 10px;
}
.header__market-link-button:active {
    transform: scale(0.97);
}
.header__market-link-button > strong {
    font-weight: 500;
}
.header__market-link-button:hover {
    background-color: #4aa5e9;
}
.google-play-link::before {
    content: '';
    display: block;
    position: absolute;

    margin-left: -57px;
    margin-top: -4px;

    width: 33px;
    height: 36px;

    background-image: url(../images/google-play-icon.svg);
    background-repeat: no-repeat;
}
.app-store-link::before {
    content: '';
    display: block;
    position: absolute;

    width: 33px;
    height: 37px;

    margin-top: -5px;
    margin-left: -60px;

    background-image: url(../images/app-store-icon.svg);
    background-repeat: no-repeat;
}
.header__phone {
    position: absolute;
    transform: rotate(-8deg);

    margin-top: 115px;
    margin-right: 56px;

    right: 0;
    top: 0;
}
.block-title {
    color: #161e26;
    text-transform: uppercase;
    text-align: center;

    margin: 0;
    font-family: 'Oswald';
    font-weight: 700;
}

/* ---- Features ---- */
.features {
    margin-top: 55px;
}
.features__elements {
    display: flex;
    position: relative;    
    justify-content: center;

    margin-top: 60px;
    margin-bottom: 57px;

    font-family: 'Roboto';
    font-weight: 400;
}
.features__item-description {
    font-family: 'Roboto';
    width: 200px;
}
.features__item {
    position: relative;
}
.features__column-1, .features__column-2 {
    display: flex;
    flex-direction: column;
}
.features__item-title {
    font-size: 18px;
}
.responsive-layout-title::after, .powerful-settings-title::after {
    content: '';
    display: block;
    position: absolute;

    height: 1px;
    width: 70px;

    margin-top: 5px;

    background-color: #000;
}
.unlimited-color-title::after{
    content: '';
    display: block;
    position: absolute;

    height: 1px;
    width: 70px;
    
    margin-top: 5px;
    margin-left: 131px;

    background-color: #000;
}
.ready-made-modules-title::after {
    content: '';
    display: block;
    position: absolute;

    height: 1px;
    width: 70px;
    
    margin-top: 5px;
    margin-left: 130px;

    background-color: #000;
}
.features__item-description {
    color: #99aaa8;
}
.features__column-1 {
    margin-right: 80px;
}
.features__column-2 {
    margin-left: 75px;
    text-align: right;
}
.responsive-layout-item::before {
    content: '';
    display: block;
    position: absolute;

    width: 72px;
    height: 72px;

    margin-top: 18px;
    margin-left: -103px;

    border: 1px solid #e1e1e1;
    border-radius: 100%;

    background-image: url(../images/features__responsive-layout-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.powerful-settings-item::before {
    content: '';
    display: block;
    position: absolute;

    width: 72px;
    height: 72px;

    margin-top: 18px;
    margin-left: -103px;

    border: 1px solid #e1e1e1;
    border-radius: 100%;

    background-image: url(../images/features__powerful-settings-icon.svg );
    background-position: center;
    background-repeat: no-repeat;
}

.unlimited-color-item::before {
    content: '';
    display: block;
    position: absolute;

    width: 72px;
    height: 72px;

    margin-top: 18px;
    margin-left: 220px;

    border: 1px solid #e1e1e1;
    border-radius: 100%;

    background-image: url(../images/features__unlimited-color-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.ready-made-modules-item::before {
    content: '';
    display: block;
    position: absolute;

    width: 72px;
    height: 72px;

    margin-top: 18px;
    margin-left: 220px;

    border: 1px solid #e1e1e1;
    border-radius: 100%;

    background-image: url(../images/features__ready-made-modules-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

/* ---- Music Medication ---- */
.music-medication {
    height: 596px;
    background-image: url(../images/music-medication-background.jpg);
    background-repeat: no-repeat;
}
.music-medication__content {
    display: flex;
    justify-content: space-between;

    color: #ffff;
}
.music-medication__banner-images {
    margin-top: 85px;
    margin-left: 163px;

    transform: translateX(-80px);
}
.app-in-phone-1 {
    z-index: 3;
}
.app-in-phone-2 {
    margin-left: -43px;
    opacity: 0.6;
}
.app-in-phone-3 {
    margin-left: -86px;
    opacity: 0.3;
    z-index: 1;
}
.music-medication__phone-img {
    position: absolute;
}
.music-medication__text {
    margin-top: 205px;
}
.music-medication__title {
    position: relative;

    font-family: 'Lato';
    font-size: 30px;
}
.music-medication__title::after {
    content: '';
    display: block;
    position: absolute;

    width: 70px;
    height: 1px;

    background-color: #ffff;
}
.music-medication__description {
    font-family: 'Lato';
    margin-top: 0px;

    width: 750px;
}


/* ---- Screenshots ---- */
.screenshots__title {
    margin-top: 55px;
}
.screenshots_screenshot-item {
    position: absolute;
    cursor: pointer;
}
.screenshots_content {
    margin: 0 auto;
    margin-top: 61px;
    margin-bottom: 100px;

    height: 530px;
    width: 1145px;
}
.screenshot_n1 {
    height: 530px;
    width: 296px;
}
.screenshot_n2 {
    height: 275px;
    width: 216px;

    margin-left: 300px;
}
.screenshot_n3 {
    height: 275px;
    width: 216px;

    margin-left: 518px;
}
.screenshot_n4 {
    width: 404px;
    height: 330px;

    margin-left: 737px;
}
.screenshot_n5 {
    height: 250px;
    width: 435px;

    margin-top: 278px;
    margin-left: 300px;
}
.screenshot_n6 {
    width: 404px;
    height: 195px;

    margin-top: 335px;
    margin-left: 737px;
}

/* Information about app */
.information-about-app {
    height: 202px;

    background-image: url(../images/music-medication-background.jpg);
    background-repeat: no-repeat;
}
.information-about-app__content {
    display: flex;
    justify-content: space-between;

    color: #ffff;
}
.information-about-app__item {
    margin-top: 55px;
}
.information-about-app__item::before{
    content: '';
    display: block;
    position: absolute;

    width: 1px;
    height: 131px;

    margin-left: -87px;

    background-color: #ffff;
}
.users-count::before {
    display: none;
}
.information-about-app__item-title {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 72px;

    margin: 0px;
}
.information-about-app__item-desc {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;

    text-transform: uppercase;

    margin: 0;

    display: flex;
    justify-content: center;
}